.ri{
            color:rgb(209, 70, 10);
            /* height: 100px;
            width: 300px; */
            font-size: 20px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-style: italic;
            background-color:beige;
            border-style:solid;
            border-width: 5px;
            border-color:brown;
            padding-left: 10px;
            padding-right: 10px;
            padding-top:20px;
            padding-bottom:20px;
            }
h1{
    color:darkslategrey !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
   }
/* 
h2{
            color: crimson;
            font-size: 50px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        } */
a:link{
    color:blue;
}
a:visited{
    color:darkgreen;
}
a:hover{
    color:deeppink;
}
a:active{
    color:deepskyblue;
}
a{
    font-size: 30px;
}
button{
    margin-left: 500px;
}
.sha{
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
    background-color:ghostwhite;
    max-width: 400px;
    border-width: 5px;
    border-style: double;
    border-color: darkblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 5px 5px;
}
.ka{
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
    background-color:ghostwhite;
    max-width: 400px;
    border-width: 5px;
    border-style: double;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
    border-color: darkblue;
    margin-top:20px;
    margin-left: 400px;
    box-shadow: 5px 5px;

}
p.ai{
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
    background-color:ghostwhite;
    max-width: 400px;
    border-width: 5px;
    border-style: double;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    padding-bottom:10px;
    border-color: darkblue;
    margin-left: 700px;
    margin-top: 20px;
    box-shadow: 5px 5px;
}
p.tina{
    box-shadow: 10px 10px;
}

.hello{
    background-color:darkgreen;
    width:700px;
    height:200px;
    overflow:scroll;
    color:azure;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.hi{
    font-size: 25px;
    color:brown;
}
img{
    float:right;
    margin-left:15px;
}